@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
}

.form {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem;
}

.formItem,
.formSelect {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.formItem__label {
  font-size: 13px;
  font-weight: 700;
  color: #2F7CEF;
}

.formItem__input {
  height: 40px;
  font-size: 15px;
  padding: 8px 16px;
}

.btnSubmit {
  background-color: #61CE70;
  border: none;
  padding: .6rem 2rem;
  font-size: 1rem;
  color: #fafafa;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  gap: .4rem;
  border-radius: .2rem;
  cursor: pointer;
}

span {
  font-size: 12px;
  color: transparent;
}

input:focus {
  outline-color: #2F7CEF;
}

input:invalid[focused="true"] {
  border: 1px solid red;
}

input:invalid[focused="true"] ~ span {
  color: red;
}
